body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: #EDEFEE;
}

#container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

button {
  background-color: #F4CE14;
  padding: 0 2.5rem;
  border-radius: 50px;
  box-shadow: none;
  border: none;
  color: #333;
}

p {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.error {
  color: red;
  font-weight: 800;
  margin-top: -1rem;
}

h1, h2 {
  font-family: "Markazi Text", serif;
}

h3, h4, h5, h6 {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 800;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

/* SMARTPHONE RESPONSIVENESS */

@media (max-width: 600px) {
  .rezselect {
    grid-template-columns: 1;
  }

  .date-time-ranges button {
    display: block;
  }
}


/* NAV BAR */

nav {
  grid-area: nav;
  background-color: #495E57;
  text-align: center;
  grid-column: 1 / span 12;
  box-sizing: border-box;
  padding: 0 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center;

}

nav ul .left {
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-around;
}

nav ul .logo {
  grid-column: 6 / 8;
  display: flex;
  justify-content: space-around;
}

nav ul .right {
  grid-column: 9 / 13;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: flex;
  flex: 1 1 100%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  color: #EDEFEE;
  text-decoration: none;
}

nav ul li a img {
  background-color: white;
  box-sizing: border-box;
  padding: 0.33rem 1rem;
  margin: 0 1rem;
  width: 100%;
  border-radius: 10px;
}


/* MAIN CONTENT AREAS */

main {
  grid-area: main;
  box-sizing: border-box;
  padding: 0 50px;
  grid-column: 2 / 12;
  background-color: #EDEFEE;
  text-align: left;
}

.rezselect,
.rezform,
.date-time-ranges {
  display: grid;
  gap: 20px;
}

.rezselect {
  background-color: #FBDABB;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 1.5rem 3rem;
  border: 1px solid #333;
  margin-top: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.rezselect label,
.rezform label {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.rezselect input,
.rezselect select {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Markazi Text", serif;
  background-color: transparent;
  border: 0;
}

.date-time-ranges {
  margin-top: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.date-time-ranges button {
  border-radius: 20px;
  background-color: #495E57;
  color: #fff;
  transition-duration: 0.5s;
}

.date-time-ranges button:hover {
  background-color: #F4CE14;
  color: #333;
  transition-duration: 0.5s;
}

.date-time-ranges button h2 {
  font-size: 2rem;
  transition-duration: 0.5s;
}

.add-border {
  border-right: 1px solid #333;
}

.rezform {
  grid-template-columns: repeat(2, 1fr);
}

.rezform section > input,
.rezform select,
.rezform textarea {
  box-sizing: border-box;
  padding: 1rem;
  width: 95%;
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.125rem;
  border: 0;
  border: 1px solid #495E57;
}

.rezform select {
  background-color: #fff;
}

.rezform fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.rezform fieldset label {
  font-size: 1.25rem;
  text-transform: none;
  margin-right: 1rem;
}

.rezform textarea {
  width: 100%;
  margin-top: -1rem; /*offset label margin*/
}

.rezform section input[type="submit"] {
  width: 12.5%;
  min-width: 150px;
  background-color: #F4CE14;
  padding: 2rem;
  border-radius: 50px;
  color: #333;
  text-transform: uppercase;
  font-weight: 800;
  border: 0;
  font-size: 1.5rem;
}

.double-col {
  grid-column: 1 / 3;
}

.confirmed {
  display: grid;
  grid-column: 1 / 13;
  margin: 5rem auto;
}

.confirmed h2 {
  text-align: center;
}

/* FOOTER */

footer {
  grid-area: footer;
  display: grid;
  box-sizing: border-box;
  padding: 20px 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "logo bottom-nav contact socials";
  background-color: #fff;
  line-height: 1.33;
  grid-column: 1 / span 12;
}

footer a {
  color: #495E57;
  text-decoration: none;
  font-weight: 800;
  transition-duration: 0.5s;

}

footer a:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

footer .logo {
  grid-area: logo;
  grid-column: 2 / span 2;
}

footer .logo img {
  margin-top: 1.5rem;
}

footer .bottom-nav {
  grid-area: bottom-nav;
  grid-column: 4 / span 1;
}

footer .bottom-nav ul {
  padding: 0;
}

footer .bottom-nav ul li {
  list-style-type: none;
}

footer .contact {
  grid-area: contact;
  grid-column: 6 / span 2;
}

footer .socials {
  grid-area: socials;
  grid-column: 8 / span 3;
}

footer .socials img {
  margin-right: 2rem;
  width: 10%;
}