body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

#container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

#container > * {
  grid-column: col-start / span 12;
  margin: 0;
}

nav {
  grid-area: nav;
  background-color: #495E57;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 2rem;
  vertical-align: middle;
}

nav ul a {
  color: #EDEFEE;
}

nav ul li img {
  background-color: white;
  width: 10rem;
  padding: 0.5rem;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

p {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: "Markazi Text", serif;
}

h3, h4, h5, h6 {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 800;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

.rezform label {
  text-transform: uppercase;
}